:root {
    --red-color: #DC0000;
    --dark-gray: #1F1F1F;
    --lighter-gray: #303030;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button, input[type=date]  {
    font-family: inherit;
}

button:hover {
    box-shadow: 0px 0px 5px rgb(0 0 0 / 0.5);
}

button:active {
    box-shadow: inset 0px 0px 5px rgb(0 0 0 / 0.5);
}

/* DARK MODE */

.dark-mode {
    background-color: var(--dark-gray);
    color: white;
}

.dark-mode img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(199deg) brightness(102%) contrast(105%);
}

.dark-mode button:hover {
    box-shadow: 0px 0px 10px rgb(255 255 255 / 0.7);

}

.dark-mode header {
    background-color: var(--dark-gray);
}

.dark-mode main > div {
    box-shadow: 0px 0px 10px rgb(0 0 0 / 0.5);
}

.dark-mode hr {
    background-color: white;
}

.dark-mode .dropdown-content {
    background-color: var(--dark-gray);
}

.dark-mode .dropdown-content p {
    color: white;
}

/* DARK MODE */

a:visited {
    color: orange;
}

p {
    margin: 0;
    padding: 0;
}

#content {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: center;
}

.main-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 0;
    width: 500px;
    padding: 50px;
    margin: 10px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 0.2);
    border-radius: 10px;
}

.div-gap {
    gap: 10px;
}

hr {
    width: 100%;
    border: none;
    height: 1px;
    background-color: black;
}

.section-title {
    font-size: 1.8rem;
    font-weight: 300;
}

.section-title-smaller {
    font-size: 1.6rem;
    font-weight: 300;
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 5px rgb(0 0 0 / 0.2);
    background-color: white;
    z-index: 1;
}

.header-title {
    font-weight: 300;
    font-size: clamp(1.5rem, 2.2vw, 2.5rem);
    letter-spacing: 0.7rem;
    margin-right: -0.7rem;
    user-select: none;
    align-self: center;
}

#settings-button:hover {
    animation: rotate 1s ease-in-out;
}

#add-item-button:hover {
    transition: transform 50ms ease-out;
    transform: scale(1.1);
}

#settings-button:active, #add-item-button:active {
    transition: transform 50ms ease-out;
    transform: scale(0.90);
}

@keyframes rotate {
    0% {transform: rotate(-360deg)};
}

/* HEADER */

#content > div {
    height: 100%;
}

/* SETTINGS */

.mode-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.mode-div > p {
    font-size: 1.8rem;
    font-weight: 300;
}

.checkbox {
    width: 20px;
    height: 20px;
}

.clear-button, .back-button, .create-list-button {
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5rem;
    letter-spacing: 0.6rem;
}

.clear-button {
    background-color: var(--red-color);
    margin-bottom: 15px;
}

.back-button {
    background-color: lightgray;
}

/* SETTINGS */

/* HOME */

.section-div {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.section-div img {
    width: 30px;
}

.list-div {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding: 10px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.list-div p {
    align-self: center;
}

/* HOME */

/* CREATE LIST PAGE */

.user-input {
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: solid;
}

.create-list-button {
    background-color: darkgreen;
}

/* CREATE LIST PAGE */

/* CREATE ITEM PAGE */

.select-div {
    display: flex;
    gap: 10px;
}

.select-div p {
    align-self: center;
}

.select-div select, .select-div input {
    flex: 1;
}

/* CREATE ITEM PAGE */

/* LIST PAGE */

.list-page .section-title-smaller {
    margin-top: 15px;
}

.item-div {
    display: flex;
    padding: 10px 0;
    border-bottom: solid 1px black;
    align-items: center;
}

.item-div p {
    margin-right: 10px;
}

.checkbox-icon {
    width: 30px;
    margin-right: 15px;
    
}

.dropdown {
    margin-left: auto;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 0.5);
    border-radius: 5px;
}

.dropdown-content p {
    padding: 5px 10px;
    user-select: none;
}

.dropdown-content p:hover {
    transform: scale(1.1);
}

.dropdown:hover .dropdown-content{
    display: block;
}

/* LIST PAGE */

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px -5px 5px rgb(0 0 0 / 0.2);

}